<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- <div id="app">
    <p>{{title}}</p>
    <p>{{isItTrue}}</p>
    <p>{{cars[0]}}</p>
    <p>{{robot.name}}</p>
    <p>{{greeting()}}</p>
</div> -->

<!---------------------------------v-bind--------------------------------  -->
<div id="app">
    <!-- <img v-bind:src="src" v-bind:alt="alt">
    <hr>
    <a  v-bind:href="link">click me</a>
    <hr> -->
    <!-- --------------v-text---------------------------  -->
    <p  v-text="myText"> </p>
    <!---------------------- v-html --------------------->
    <p  v-html="myHtml"> </p>
    <!------------------ v-if,v-else ------------------>
    <!-- <p v-if="userAge >= allowedAge">
        you are good to go
    </p>
    // <h1>Rafee</h1> 
    <p v-else-if="changeUser()" >
        you are good
    </p>
    <p v-else>
        you are not good to go
    </p> -->

<!------------------- v-show-------------------->
<!-- <p v-show="user === 'Luffy'">
    Show it
</p>
<p v-show="user !== 'Luffy'">
   Don't Show it
</p> -->

<!------------------ v-for loop ----------------------->
<!-- <p v-for="(value, index) in cars">
   {{index}} : {{value}}
</p>
<p v-for="(value, index, key) in user">
    {{key}} :  {{index}} : {{value}}
 </p>
 <p v-for="n in 10">
    {{n}}
 </p> -->

<!------------------- v-once ------------------->
 <!-- <h1>{{name}}</h1>
 <h1 v-once>{{name}}</h1>
 {{update()}} -->

<!------------------- event --------------->
<!-- <h1>{{name}}</h1>
<button v-on:click="updateName">Click me</button> -->

<!-- <div v-on:mousemove="getCoord" class="box">
    hover me
</div>
<p>X : {{x}}</p>
<p>Y : {{y}}</p> -->

<!-- <h1>{{name}}</h1>
<button v-on:click.right="updateName('Nitesh',$event)">Click me</button>  -->

<!-- <form v-on:submit.prevent="handleForm">
    <input type="text">
    <button type="submit">Submit</button>
</form> -->

<!-------------------- v-model ---------------->
<!-- <form v-on:submit.prevent="handleForm">
    <label >First Name : </label>
    <input type="text" v-model="formData.firstName">
    <hr>
    <label >Last Name : </label>
    <input type="text" v-model="formData.lastName">
    <hr>
    <button type="submit">Submit</button>
</form> -->

<!------------- computed properties -------- -->
<!-- <button v-on:click="a++"> Add A</button>
<button v-on:click="b++"> Add B</button>

<p>A = {{a}}</p>
<p>B = {{b}}</p>

<p>Salary + A = {{addToA}}</p>
<p>Salary + B = {{addToB}}</p> -->

<!------------------- Shorthand  --------------------->
<!-- <button @click="a++">Add A</button>  <!--v-on short= : -->
<!-- <p>A = {{a}}</p>
<hr>
 <a :href="link">google link</a>
<hr>
<input type="text" v-model="name"> -->

</div>
<!----------------- Create More Instance ----------->
<!-- <div id="app1">
    <p>This is the first instance {{value}}</p>
    <button @click="changeValue">Click me</button>
</div>
<hr>

<div id="app2">
    <p>This is the second instance {{value}}</p>
</div> -->

<!----------- Mount & Template ------------>
<!-- <div id="vue-app">
</div> -->
<!--------------- Use of Basic Component  --------------->
<div id="app-tem">
    <rafee></rafee>
    <rafee></rafee>
</div>








    <script src="app.js"></script>
</body>
<style>
    .box{
        background-color:palevioletred;
        width: 300px;
        height: 300px;
    }
</style>
</html>